.user {
  background-color: #4abdac;
  border: 1px solid #bbb;
  padding: 0.75rem 0.5rem;
  display: flex;
  border-radius: 8px;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 1px 2px 4px #bbb;
}
.user:hover {
  /* background-color: #eee; */

  transform: scale(1.05) rotateZ(-2deg);
}

.user img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 4px solid #eee;
}

.user-info {
  flex-grow: 1;
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 0 0.5rem 0 0;
  overflow: hidden;
}
.name {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.25rem;
  font-size: 1.2rem;
}

.user-contact {
  margin-top: 0.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: #eee;
}
