.contact-list-container {
  /* position: relative; */
  overflow: hidden;
  /* height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; */
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.user-container {
  padding: 0.5rem;
}
/* #189AB4 */
/* #4abdac */

@media screen and (min-width: 768px) {
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  .contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
