.backdrop {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0.7;
}
.content {
  position: absolute;
  top: 0;

  z-index: 12;

  animation: slide 0.3s;
}
.content-desktop {
  margin: 3rem 1rem 0;
}
.content-mobile {
  padding: 1rem;
  width: 100%;
}
.back-icon-mobile {
  position: fixed;
  z-index: 13;
  bottom: 20px;
  left: 20px;
  opacity: 0.7;
}
.actions-desktop {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  text-align: center;
}
.close-btn-desktop {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #873c3c;
  color: white;
  /* text-shadow: 0px 0px 1px white; */
  font: inherit;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}
.close-btn-desktop:hover {
  background-color: #bf3434;
}
@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
