.contact {
  /* margin: 1rem; */
  background-color: white;
  border: 1px solid #4abdac;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #bbb;
  overflow: hidden;
  width: 100%;
}

.title {
  margin: 0;
  padding: 0.5rem 0;
  background-color: #4abdac;
  color: white;
  text-align: center;
}

.personal {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

.avatar {
  border-radius: 8px;
}

.personal-detail {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.detail-item > label {
  width: 5em;
}
.detail-item > span {
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  word-break: break-all;
}
.personal-detail-item {
  flex: 0 0 350px;
  padding-right: 3rem;
}

.company {
  padding: 1.5rem;
}
.company-detail {
  display: flex;
  flex-wrap: wrap;
}
.company-detail-item {
  padding-right: 3rem;
  flex: 1 0 400px;
}
/* AIzaSyB1iIcpKlnuQNCxr9CDzbxU4Kurs1nQQJI */
.company-detail-item > label {
  width: 7em;
}
.address {
  padding: 1.5rem;
  /* display: flex;
  justify-content: space-between;
  gap: 1rem; */
}

.address-detail {
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}
.address-detail-item {
  padding-right: 3rem;
  flex: 1 0 400px;
}
.address-detail-item > label {
  width: 7em;
}

/* .map-container {
  flex: 1 0 280px;
  max-width: 480px;
  min-height: min(30vw, 320px);
} */
