.contact {
  /* margin: 1rem; */
  background-color: white;
  border: 1px solid #4abdac;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #bbb;
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 0.5rem 0;
  background-color: #4abdac;
  color: white;
  text-align: center;
}

.personal {
  padding: 1.5rem;
}

.avatar {
  display: block;
  margin: auto;
  border-radius: 8px;
}

.personal-detail {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.detail-item > label {
  width: 6em;
}
.detail-item > span {
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  word-break: break-all;
}

.company {
  padding: 1.5rem;
}
.company-detail {
  display: flex;
  flex-wrap: wrap;
}
.address {
  padding: 1.5rem;
}

.address-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
