.App {
  /* text-align: center; */
  position: relative;
  max-width: 1080px;
  margin: auto;
}
.app-content {
  height: 100vh;
  overflow: auto;
}
* {
  box-sizing: border-box;
}

.desktop-container {
  max-width: 1080px;
  margin: auto;
}
